- provide(:title, "Event | #{@event.name}")
%h4
  #{@event.name}
- if can? :update, @event
  %p
    = link_to "Edit event", edit_event_path(@event), class: 'btn btn-primary'
    - if can? :destroy, @event
      = link_to "Delete event", event_path(@event), method: :delete, data: {confirm: 'sure?'},
        class: 'btn btn-primary'
%h4
  #{@event.datetime_start.to_s}
  #{@event.first_side} - #{@event.second_side}
%p
  Result: #{@event.complete_type.result}
%p
  Description: #{@event.complete_type.description}
%p
  = link_to "Make Bet!", new_event_bet_path(@event), class: 'btn btn-primary'
  
%p
  - if @event.bets.any?
    %h4
      Bets:
      = render @event.bets.where("user_id = ?", current_user) #TODO: scope in bet not working (for_this_user)