= provide(:title, 'About')
%h1 About
%p
  %b Omikron
  is the betting platform.
%p Created with Ruby on Rails.
%p
  Omikron at github:
  = link_to "https://github.com/yunixon/omikron", "https://github.com/yunixon/omikron"
%p
  Dev team:
  %ul
    %li= link_to "yunixon", "https://github.com/yunixon/"
    %li= link_to "sozinovss", "https://github.com/sozinovss/"
    %li= link_to "meowcode", "https://github.com/meowcode/"
%p
  Provide us your experience: 
  = mail_to "abuse@omikron.com", "abuse@omikron.com"
%p  
