- provide(:title, "event_type | #{@event_type.name}")
= render "events/search"
%h2
  #{@event_type.name}
%p
  #{@event_type.description}
- if can? :update, @event_type
  = link_to "Edit category", edit_event_type_path(@event_type), class: 'btn btn-primary'
- if can? :destroy, @event_type
  = link_to "Delete", event_type_path(@event_type), method: :delete, data: {confirm: 'sure?'},
    class: 'btn btn-primary'

= render "events/index"
#event-modal.modal.hide.fade