- provide(:title, "event_type | #{@event_type.name}")
= render "events/search"
%h2
  #{@event_type.name}
%p
  #{@event_type.description}
- if can? :update, @event_type
  = link_to "Edit category", edit_event_type_path(@event_type), class: 'btn btn-primary'
- if can? :destroy, @event_type
  = link_to "Delete", event_type_path(@event_type), method: :delete, data: {confirm: 'sure?'},
    class: 'btn btn-primary'

= paginate @events
%table.table.table-hover
  %thead
    %tr
      %th.column-20 Time
      %th.column-35 Match
      %th.column-20 Event
      %th.column-20 Count
      %th.column-20 Available
      - if can? :update, Event
        %th.column-20 Edit
  = render @event_type.events
= paginate @events