- provide(:title, "event_type | #{@event_type.name}")
%h2
  #{@event_type.name}
%p
  #{complete_type.description}
- if can? :update, @event_type
  %p
    = link_to "Edit event_type", edit_event_type_path(@event_type), class: 'btn btn-primary'
- if can? :destroy, @event_type
  %p
    = link_to "Delete", event_type_path(@event_type), method: :delete, data: {confirm: 'sure?'},
      class: 'btn btn-primary'
