.navbar.navbar-inverse.navbar-fluid-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Omikron", root_path, :class => "brand"
      .container-fluid.nav-collapse
        %ul.nav
          %li= link_to "Home", root_path
          %li= link_to "Events", events_path
          %li= link_to "Archive", archive_path
          %li= link_to "Help", help_path
          %li= link_to "About", about_path
          
        %ul.nav.pull-right
          - if user_signed_in?
            - if current_user.role.admin?
              %li
                = link_to "Users", users_path
            %li.navbar-text #{current_user.email.to_s}
            %li.dropdown
              = link_to "Account", "#", :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'}
              %ul.dropdown-menu
                %li
                  = link_to "My Account", user_path(current_user)
                %li
                  = link_to "Edit Profile", edit_user_registration_path
                %li
                  = link_to "Transactions", "#"
                %li
                  = link_to "Logout", destroy_user_session_path, method: :delete, class: 'dialog'
          - else
            %li= link_to "Login", new_user_session_path
            %li= link_to "Sign up", new_user_registration_path
