.navbar.navbar-fluid-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{href: "#"} Omikron
      .container-fluid.nav-collapse
        %ul.nav
          %li= link_to "Home", "/"
          %li= link_to "Events", "/events"
          %li= link_to "Archive", "/archive"
          %li= link_to "Help", "/help"
          %li= link_to "About", "/about"
