!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Omikron"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application", 'data-turbolinks-track' => true
  %body
    = render 'layouts/header'
    .container-fluid
      .row-fluid
        .col-md-3
          = render 'layouts/leftsidebar'
        .col-md-6
          -#= render 'shared/error_messages'
          = yield
        .col-md-3
          = render 'layouts/rightsidebar'
      / /row
      = render 'layouts/footer'